html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    /* Prevent scrolling */
    height: 100%;
    /* Ensure body and html take up the full height */
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */

}

#canvas-container {
    border-radius: 50px;
    /* Keep rounded corners */
    overflow: hidden;
    /* Ensure content respects the rounded corners */
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Add a background color for the container */
    cursor: url('../images/rocket.PNG') 32 32, pointer;
}


@font-face {
    font-family: ComicNeue-Bold;
    src: url(ComicNeue-Bold.ttf);
}


button {
    text-align: center;
    font-weight: bold;
    font-family: ComicNeue-Bold;
    text-decoration: none;
    background-color: rgb(240, 193, 40);
    border: none;
    color: rgb(108, 34, 178);
    cursor: url('../images/rocket.PNG') 32 32, pointer;
    display: inline-block;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    margin: 4px 2px;
    position: fixed;
    top: 63%;
    left: 41%;
}

.btn:hover {
    background-color: rgb(240, 153, 40);
    color: rgb(255, 255, 255);
}

.btn1 {
    padding: 10px 20px;
    font-size: 20px;
    margin: 4px 2px;
    position: absolute;
    top: 86%;
    left: 7%;
}

.btn1:hover {
    background-color: rgb(240, 153, 40);
    color: rgb(255, 255, 255);
}

.btn2 {
    padding: 10px 20px;
    font-size: 20px;
    margin: 4px 2px;
    position: absolute;
    top: 86%;
    left: 76.5%;
}

.btn2:hover {
    background-color: rgb(240, 153, 40);
    color: rgb(255, 255, 255);
}

.btn3 {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    position: absolute;
    top: 86%;
    left: 75.5%;
}

.btn3:hover {
    background-color: rgb(240, 153, 40);
    color: rgb(255, 255, 255);
}

.btn4 {
    padding: 13px 25px;
    font-size: 20px;
    margin: 4px 2px;
    position: absolute;
    top: 80%;
    left: 40.5%;
}

.btn4:hover {
    background-color: rgb(240, 153, 40);
    color: rgb(255, 255, 255);
}